<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3>Edit the Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
             <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control" required>
             <div class="valid-feedback">Title looks good!</div>
              <div class="invalid-feedback">Title should be vaild</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" type="text" class="form-control" required><%= listing.description %></textarea>
            <div class="valid-feedback">Description looks good!</div>
            <div class="invalid-feedback">Please enter a short description</div>
        </div>
        <div class="mb-3">
            Original Image <br>
            <img src="<%= originalImageUrl %>" alt="original image of listing" width="250px" height="250px">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label"> Upload New Image</label>
            <input type="file" name="listing[image]" class="form-control">
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input type="number" name="listing[price]" value="<%= listing.price %>" class="form-control" required>
            <div class="invalid-feedback">Price should be vaild</div>
        </div>
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input type="text" name="listing[country]" value="<%= listing.country %>"class="form-control" required>
            <div class="invalid-feedback">Country should be vaild</div>
        </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]" value="<%= listing.location %>" class="form-control" required>
            <div class="invalid-feedback">Location should be vaild</div>
        </div>
        <div class="mb-3">
            <label for="listing-select">Choose a Category</label>
            <select id="listing-select" class="form-control" required name="listing[category]">
                <option value="">--Please choose an option--</option>
                <option value="trending">Trending</option>
                <option value="mountains">Mountains</option>
                <option value="arctic">Arctic</option>
                <option value="frams">Frams</option>
                <option value="iconic-cities">Iconic-Cities</option>
                <option value="amazing-pools">Amazing-pools</option>
                <option value="rooms">Rooms</option>
                <option value="castles">Castles</option>
                <option value="camping">Camping</option>
            </select>
        </div>
        <button class="btn btn-dark edit-btn mt-3">Edit</button>
    </form>
    <br>
  </div>
</div>
  

